/* navbar.js */

/* header.js */

/* home.js */
.nameHeader {
  font-size: 100px;
}

.twinsImage {
  margin: 20px;
}

.homePage {
  margin-top: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* aboutMe.js */

/* myWork.js */

/* contact.js */

/* footer.js */


/* ------- MEDIA ------- */