/* main */
main {
  min-height: calc(100vh - 367px);
}

/* navbar.js */
.navbarTop {
  justify-content: space-between;
}

.navbarLink {
  flex-direction: row;
}

/* header.js */
.nameHeader {
  font-size: 100px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* home.js */
.twinsImage {
  margin: 20px;
}

.homePage {
  margin-top: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* aboutMe.js */
.aboutMe {
  margin-top: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* myWork.js, resume.js */
.myWorkSection, .resumeSection {
  text-align: center;
}

.resumeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projectDiv, .resumeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.resumeDiv {
  flex-direction: row;
  justify-content: center;
}

.projectCardDiv, .resumeCardDiv {
  border-style: solid;
  min-height: 500px;
}

.projectCard, .resumeCard {
  padding: 30px;
}

.linkContainer, .resumeLink {
  padding: 20px;
}

.cardImage {
  border-style: solid;
  height: 200px;
}

/* contact.js */

.formControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer.js */
.footerInline {
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footerUl {
  font-size: 90px;
  flex-direction: row;
}

.footerLi {
  margin-left: 10px;
  margin-right: 10px;
}

.resumeBtn {
  margin-left: 5px;
  margin-right: 5px;
}
.toolTip {
  position: relative;
  display: inline-block;
}

.toolTip .toolTipText {
  color: white;
  font-size: 10px;
  visibility: hidden;
  width: fit-content;
  background-color: black;
  text-align: center;
  border-radius: 10%;
  padding: 5px;

  position: absolute;
  z-index: 1;
  bottom: 90%;
  right: 50%;
  margin-left: -30px;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

/* ------- MEDIA ------- */

@media screen and (max-width: 768px) {
  .navbarTop {
    justify-content: center;
  }
  
  .navbarHead {
    display: none;
  }

  .navbarLink {
    align-items: center;
  }

  .resume {
    display: none;
  }

  .resumeSection {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
  }

  .resumeDiv {
    flex-direction: column;
  }

  .aboutMe {
    flex-direction: column;
  }

  .footerUl {
    font-size: 50px;
  }

  .nameHeader {
    font-size: 50px;
  }
  
  .projectCard {
    padding-left: 0;
    padding-right: 0;
  }

  .cardImage {
    width: auto;
    max-width: 100%;
    height: 300px;
  }
}