/* navbar.js */

/* header.js */

/* home.js */
.homePage {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* aboutMe.js */

/* myWork.js */

/* contact.js */

/* footer.js */


/* ------- MEDIA ------- */